<template>
  <div>
    <Navbar />
    <router-view></router-view>
  </div>
</template>

<script>
// import { Navbar } from "../layouts";
import Navbar from "../layouts/Navbar";
export default {
  name: "Default",
  components: { Navbar },
};
</script>
