<template>
  <div>
    <p>
      <ul>
        <ol> <router-link :to="{ name: 'home'}">Home</router-link> </ol>
        <ol> <router-link :to="{ name: 'about'}">About</router-link> </ol>
        <!-- <ol> <router-link :to="{name:'about'}">About</router-link></ol> -->
      </ul>
    </p>
  </div>
</template>

<script>
export default {
  name: "Navbar",
};
</script>
